.navBar {
  background-color: rgb(44, 8, 116);
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlight {
  float: left;
  color: floralwhite;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 35px;
  background-color: rgb(161, 24, 122);
  padding: 10px;
}

#selfie {
  float: left;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}

.navigation a:hover {
  color: red;
}

.navigation a {
  color: antiquewhite;
  text-align: center;
  padding: 50px 30px;
  text-decoration: none;
  font-size: 17px;
}

body {
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif
}

.heroBanner {
  min-height: 100px;
  height: 30vh;
  background-image: url("../images/confetti.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
}

h2 {
  color: floralwhite;
  font-size: 50px;
  background-color: rgb(161, 24, 122);
  padding: 30px;
  float: right;
  margin-right: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.mainGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 30% 60% 10%;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "aboutMe text1"
    "work workGrid"
    "contact links";
}


#aboutMe {
  grid-area: aboutMe;
  float: left;
  margin: 20px;
  padding: 50px;
  border-right: solid 5px;
  border-color: teal;
}

#text1 {
  grid-area: text1;
  color: cornsilk;
  padding: 50px;
  font-size: 20px;
  font-style: italic;
  margin: 0px 5%;
}

#work {
  grid-area: work;
  margin: 20px;
  padding: 50px;
  text-align: left;
}

#workGrid {
  grid-area: workGrid;
  margin: auto;
  width: 1000px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "prework prework"
    "Horiseon challengeThree"
    "challengeFour challengeFive";
}

#contact {
  grid-area: contact;
  float: left;
  color: floralwhite;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 30px;
  background-color: rgb(161, 24, 122);
  padding: 50px; 
}

#links {
  grid-area: links;
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: center;
  border-radius: 10px;
  border-style: ridge;
  border-width: 5px;
  border-color: teal;
}

h4 {
  font-size: 20px;
}

h4,
.workGridArea p {
  background: rgb(0, 0, 0, 0.7);
  width: 50%;
  padding: 20px 0px;
  margin: 0px;
  color: white;
}

#prework {
  grid-area: prework;
  background-image: url("../images/Prework.png");
  background-position: top;
  text-decoration: none;
}

#Horiseon {
  grid-area: Horiseon;
  background-image: url("../images/Horiseon.png");
  background-position: top;
  text-decoration: none;
}

#challengeThree {
  grid-area: challengeThree;
  background-image: url("../images/02-portfolio-3.jpg");
  text-decoration: none;
}

#challengeFour {
  grid-area: challengeFour;
  background-image: url("../images/02-portfolio-4.jpg");
  text-decoration: none;
}

#challengeFive {
  grid-area: challengeFive;
  background-image: url("../images/balloons.jpeg");
  text-decoration: none;
}

h3 {
  font-size: 30px;
  color: cornsilk;
  text-align: top;
}

.linkedIn,
.email,
.github {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-size: 20px;
}

.footerLinks {
 display: flex;
 flex-direction: row;
 text-align: left;
 justify-content: space-around;
 align-items: center;
 margin: 30px;
}

#header, #mainGrid {
  background-color: rgb(44, 8, 116);
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  body {
    display: block;
    position: static;
    border: auto;
    width: fit-content;
  }

  header {
    width:max-content;
    position: static;
    border: auto;
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: block;
    position: static;
    border: auto;
    width: fit-content;
  }

  header {
    width: fit-content;
    position: static;
    border: auto;
  }
}