:root {

}

* {
  box-sizing: border-box;
}

.heroBanner {
  min-height: 100px;
  height: 30vh;
  background-image: url("../images/confetti.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;
}

.content {
  margin: 0px 5%;
}

#workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "prework prework"
  "challengeOne challengeThree"
  "challengeFour challengeFive";
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#prework {
  grid-area: prework;
  background-image: url("../images/02-portfolio-1.jpg");
}

#challengeOne {
  grid-area: challengeOne;
  background-image: url("../images/02-portfolio-2.jpg");
}

#challengeThree {
  grid-area: challengeThree;
  background-image: url("../images/02-portfolio-3.jpg");
}

#challengeFour {
  grid-area: challengeFour;
  background-image: url("../images/02-portfolio-4.jpg");
}

#challengeFive {
  grid-area: challengeFive;
  background-image: url("../images/02-run-buddy.jpg");
}

body {
  margin: auto;
  padding: 20px;
  font-family:  Arial, Helvetica, sans-serif
}

.navBar {
  background-color: rgb(44, 8, 116);
  overflow: hidden;
  margin: auto;
}

.navigation {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  float: right;
}

  .highlight {
    float:left;
    color: floralwhite;
    font-weight: 700;
    font-family:sans-serif;    
    font-size: 40px;
    background-color: rgb(161, 24, 122);
    padding: 10px;
  }

.navigation a {
  color: antiquewhite;
  text-align: center;
  padding: 50px 30px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  color: red;
}

h2 {
  color: floralwhite;
  font-size: 30px;
  background-color: navy;
  padding: 30px;
  float: right;
  margin-right: 50px;
}

h3 {
  border-right: 30px;
  border-color: teal;
  font-size: 30px;
  color: navy;
}


.aboutMe {

}